body{
    background-color:steelblue;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title-image {
    width: 30%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    margin-bottom: 10px;
}

li {
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    list-style: none;
}

a {
    text-decoration: none;    
    color: white;
}

a:hover {
    color: black;
}